#app {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
  }

  .sociedad {
    border-radius: 150px;
    height: 100px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 400px;
  }

  .economia {
    border-radius: 150px;
    height: 100px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 605px;
  }
  
  .ambiente {
    border-radius: 150px;
    height: 100px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 810px;
  }

  .marker {
    position: absolute;
    width: 57px;
    height: 72px;
    left: 172px;
    top: -20px;
    z-index: 3;
  }
  
  .wheel {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 150px;
  }
  
  .button {
    display: block;
    width: 250px;
    margin: 40px auto;
    cursor: pointer;
    z-index: 2;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  .blur {
    animation: blur 10s;
  }
  
  @keyframes blur {
    0% {
      filter: blur(1.5px);
    }
    80% {
      filter: blur(1.5px);
    }
    100% {
      filter: blur(0px);
    }
  }
  